{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="/static/css/home.css">
<link rel="stylesheet" href="/static/css/navbar.css">
{% endblock %}


{% block title%}
Ваши места
{% endblock %}

{% block navbar %}
<nav class="navbar">
    <div class="logo">
        <a class="logo-text" href="{% url 'home' %}">Places Remember</a>
    </div>

    <div class="personal-info">
        <div class="avatar">
            <img src="{{ avatar }}"
            width=60 alt="Avatar">
        </div>
        <div class="name">
            {{ name }}
        </div>
        <a class="logout" href="{% url 'logout' %}">
            <img src="/static/img/logout.svg" width="35" alt="Выход">
        </a>
    </div>
</nav>
{% endblock%}

{% block body%}


{% if location_list|length == 0 %}
    <div class="empty-list">
        У вас нет ни одного воспоминания
    </div>
{% else %}
    <div class="memories">
        <table>
            <tr>
                <th id="table-index">#</th>
                <th id="table-location">Место</th>
                <th id="table-comment">Комментарий</th>
            </tr>
            <tr><td>1</td><td>ИКИТ</td><td>Мой институт</td></tr>
            <tr><td>2</td><td>Остров Татышев</td><td>Мое любимое место</td></tr>
        </table>
    </div>

{% endif %}
<button class="add-button">
    Добавить воспоминание
</button>
<iframe id="map" src="/map"></iframe>
{% endblock %}