{% extends 'base.html' %}

{% block title%}
Карта
{% endblock %}

{% block style %}
<link rel="stylesheet" href="/static/css/map.css">
{% endblock %}


{% block navbar %}
    {% include 'auth_navbar.html' %}
{% endblock%}

{% block body %}
<div id="memory_map">
    {{ map|safe }}
</div>


<script>
    function get_current_zoom(scope) {
        const zoom_container = scope.querySelector('.leaflet-proxy');
        const re = RegExp('translate3d\\(.*?\\) scale\\((\\d*)\\)');

        if (zoom_container.style.transform === "")
            return 'default';

        return re.exec(zoom_container.style.transform)[1];

    }

    let last_coords = null;

    function delete_add_form(scope, action, options = {save_marker: false}) {
        const form = scope.querySelector('.form-window');
        const markers = scope.querySelectorAll('.awesome-marker');
        const shadows = scope.querySelectorAll('.awesome-marker-shadow');

        const remove_index = action === 'click' ? 2 :
                             action === 'scroll'? 1 :
                             action === 'close'? 1 : 1;

        if (form !== null) {
            form.remove();

            if (markers !== null && !options.save_marker) {
                markers[markers.length - remove_index].remove();
                shadows[shadows.length - remove_index].remove();
            }
        }
    }

    function create_add_form(scope) {
        delete_add_form(scope, 'click', false);

        const form_wrapper = document.createElement('div')
        form_wrapper.className += "form-window";
        const form = document.createElement('form')
        form.className += "add-form";
        form.id += "add-form";
        form.method = "post";

        form.innerHTML = `
        {% csrf_token %}
        {{ add_form.place }}
        <hr>
        {{ add_form.description }}
        <input type="submit" value="Добавить" class="form-submit">


        `

        form.onsubmit = async (e) => {
            e.preventDefault();
            await fetch("{% url 'map' %}", {
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                method: "POST",
                body: JSON.stringify(Object.assign(last_coords, {
                    'place': form['place'].value,
                    'description': form['description'].value,
                    'scale': get_current_zoom(scope),
                }))
            })
                // .then(() => delete_add_form(scope, null, {save_marker: true}))
                .then(() => window.location.replace("{% url 'home' %}"))

        };
        const close_button = document.createElement('a')
        close_button.className += 'close-form';

        close_button.addEventListener("click", function (e) {
            delete_add_form(scope, 'close');
        });

        const close_icon = document.createElement('img')
        close_icon.src = '/static/img/cross.png'
        close_icon.className += 'close-icon';
        close_button.appendChild(close_icon)

        form_wrapper.appendChild(form);
        form_wrapper.appendChild(close_button);
        form_wrapper.style.position = 'absolute';

        form_wrapper.addEventListener("click", function (e) {
            e.stopPropagation();
        });
        return form_wrapper;
    }

    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    async function get_map() {
        return new Promise((resolve) => {
            const map_container = document.querySelector('#memory_map');
            resolve(map_container.querySelector('iframe').contentDocument);
        })
    }

    async function init_map() {
        await sleep(100).then(async () => {
            await get_map().then((mapContent) => {
                mapContent.head.innerHTML += `<style>
                    .add-form {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        border-radius: 30px;
                        width: 25em;
                        height: 18em;
                        background-color: #c61c2c;
                        border: 3px solid #454545;
                    }

                    .add-form hr {
                        width: 100%;
                        border-top: 0.1em solid #454545;
                        border-bottom: 0.08em solid #454545;
                        border-right: 0 solid #454545;
                        border-left: 0 solid #454545;
                        background-color: #454545;
                        margin-top: 0.2em;
                        margin-bottom: 0.4em;
                    }

                    .form-place {
                        border-radius: 15px;
                        width: 80%;
                        height: 20%;
                        text-align: center;
                        font: 1.8em "Georgia";
                        background-color: rgba(255, 255, 255, 0.9);
                        margin-top: 0.15em;
                        border: 2px solid #454545;
                    }

                    .form-description {
                        border-radius: 15px;
                        width: 85%;
                        height: 60%;
                        border: 2px solid #454545;
                        font: 1.8em "Georgia";
                        resize: none;
                        background-color: rgba(255, 255, 255, 0.9);
                        margin-bottom: 0.3em;
                        padding: 0.5em;
                    }

                    .form-submit {
                        background-color: rgba(255, 255, 255, 0.9);
                        margin-bottom: 0.25em;
                        width: 50%;
                        height: 20%;
                        border-radius: 15px;
                        font: 1.5em "Georgia";
                        color: #454545;
                    }

                    .close-form {
                        position: relative;
                        bottom: 19em;
                        left: 25em;
                    }

                    .close-icon {
                        width: 15px;
                        height: 15px;
                    }
                </style>`;
            });
        })
            .catch(init_map)
    }

    function extract_coords(coords_str) {
        const key = '(\\w*)';
        const float = '([+-]?[0-9]*[.]?[0-9]+)';
        const re = new RegExp(`${key}: ${float}<br>${key}: ${float}`);

        const regex_result = re.exec(coords_str)
        if (regex_result === null)
            return null

        const coords_arr = regex_result.slice(1, 5);
        return {latitude: parseFloat(coords_arr[1]), longitude: parseFloat(coords_arr[3])}
    }
    // Create form on click
    init_map().then(async () => {

        const map_observer = new MutationObserver(async mutationRecords => {
            await get_map().then((mapContent) => {
                if (mutationRecords[0].addedNodes.length > 0 &&
                    mutationRecords[0].addedNodes[0].className !== 'form-window') {
                    get_current_zoom(mapContent);

                    const popups = mutationRecords[0].target.querySelectorAll('.leaflet-popup');
                    const popup = popups[popups.length - 1];
                    const coords_html = popup.querySelector('.leaflet-popup-content').innerHTML;
                    const coords = extract_coords(coords_html);

                    if (coords !== null) {
                        const form = create_add_form(mapContent);
                        form.style.transform = popup.style.transform;
                        popup.replaceWith(form);

                        last_coords = coords;
                    }
                }
            })
        });
        // Delete form on scroll

        const zoom_observer = new MutationObserver(async () => {
            await get_map().then((mapContent) => {
                delete_add_form(mapContent, 'scroll');
            })
        });

        async function set_observers() {
            await sleep(100).then(async () => {
                await get_map().then((mapContent) => {
                    map_observer.observe(mapContent.querySelector('.leaflet-pane .leaflet-popup-pane'), {
                        childList: true,
                        attributes: false,
                        characterData: false,
                    });

                    zoom_observer.observe(mapContent.querySelector('.leaflet-map-pane'),
                        {attributes: true, attributeFilter: ['class']})
                });
            })
                .catch(set_observers)
        }

        await set_observers()
    })
</script>

{% endblock%}