{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="/static/css/welcome.css">
<link rel="stylesheet" href="/static/css/navbar.css">
{% endblock %}

{% block title%}
Places Remember
{% endblock %}

{% block navbar %}
<nav class="navbar">
    <div class="logo">
        <a class="logo-text" href="{% url 'home' %}">Places Remember</a>
    </div>
</nav>
{% endblock%}

{% block body%}
<div class="welcome-label">
    Добро пожаловать!
</div>

<div class="description">
    На нашем сайте Вы можете собственноручно запечатлеть на карте все места, которые показались Вам интересными
    или с которыми вас связывают трогательные воспоминания.
</div>

<div class="question">
    Хотите попробовать?
</div>

<a id="vk_auth" href="https://oauth.vk.com/authorize?client_id={{ api_id }}&redirect_uri={{ auth_uri }}&display={{ page }}">Войти через ВКонтакте</a>
{% endblock %}