a, a:link, a:visited, a:focus, a:hover, a:active {
    text-decoration: none;
}

.welcome-label {
    font: 5em Roboto;
    color: #3c3c3e;
}

.description {
    font: 1.8em Roboto;
    color: #3c3c3e;
    text-align: center;
}

.question {
    font: 3em Roboto;
    color: #3c3c3e;
}