.welcome-label {
    text-align: center;
    margin: 0.6em auto 0.3em
}

.description {
    width: 85%;
    margin: 0 auto 2em;
}

.question {
    text-align: center;
}

.welcome-label {
    font: 5em Roboto;
    color: #3c3c3e;
}

.description {
    font: 1.8em Roboto;
    color: #3c3c3e;
    text-align: center;
}

.question {
    font: 3em Roboto;
    color: #3c3c3e;
}

#vk_auth {
    width: 70%;
    display: block;
    height: 2em;
    font: 2em Roboto;
    text-align: center;
    vertical-align: middle;
    line-height: 2em;
    color: #ffffff;
    background-color: #5181b8;
    border: 0;
    border-radius: 8px;
    margin: 1em auto;
    cursor:pointer;
}

#vk_auth:hover {
    opacity: .88;
}