.welcome-label {
    text-align: center;
    margin: 0.6em auto 0.3em
}

.description {
    width: 85%;
    margin: 0 auto 2em;
}

.question {
    text-align: center;
}

#vk_auth {
    margin: 2em auto;
}